.header {
    max-width: 1770px;
    width: 100%;
    min-height: 820px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-image: url(../images/header.png);
}
.header__content {
    max-width: 653px;
    width: 100%;
    min-height: 341px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Bhromaon {
    max-width: 372px;
    width: 100%;
    min-height: 76px;
    padding-bottom: 3rem;
}
.bhromaon__h {
    max-width: 342px;
    width: 100%;
    min-height: 26px;
    padding: 1rem;
}
.header__content-travel {
    max-width: 345px;
    width: 100%;
    min-height: 26px;
    font-family: $myFont-two;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    padding-bottom: 4rem;
}
.form {
    max-width: 653px;
    width: 100%;
    min-height: 63px;
    display: flex;
}
input {
    max-width: 503px;
    width: 100%;
    text-align: center;
    font-family: $myFont-two;
    font-size: 14px;
    line-height: 26px;
    color: #999999;

}
.btn {
    max-width: 153px;
    width: 100%;
    min-height: 63px;
}
.nav-row {
    max-width: 1770px;
    width: 100%;
    min-height: 83px;
    background-color: #5474FD;
    display: flex;
    justify-content: space-evenly;
    align-self: flex-end;
}
.nav-left {
    display: flex;
    align-items: center;
}
.nav-right {
    display: flex;
    align-items: center;
}
a {
    list-style: none;
    text-decoration: none;
    color: #FFFFFF;
    margin-right: 2rem;
}
a:hover {
    color: grey;
}
.scroll {
    align-self: center;
}