.header {
    max-width: 1770px;
    width: 100%;
    min-height: 820px;
    display: flex;
    flex-wrap: wrap;
    background-image: url(../images/header.png);
}
.header__content {
    max-width: 653px;
    width: 100%;
    min-height: 341px;
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
    align-self: center;
    align-content: center;
}
.Bhromaon {
    max-width: 345px;
    width: 100%;
    min-height: 63px;
    text-align: center;
}
.form {
    max-width: 653px;
    width: 100%;
    min-height: 63px;
    display: flex;
}
input {
    max-width: 503px;
    width: 100%;
}
.btn {
    max-width: 153px;
    width: 100%;
    min-height: 63px;
}
.nav-row {
    max-width: 1770px;
    width: 100%;
    min-height: 83px;
    background-color: #5474FD;
    display: flex;
    justify-content: space-evenly;
    align-self: flex-end;
}
.nav-left {
    display: flex;
    align-items: center;
}
.nav-right {
    display: flex;
    align-items: center;
}
a {
    list-style: none;
    text-decoration: none;
    color: #FFFFFF;
    margin-right: 2rem;
}