.spain-top {
    max-width: 1770px;
    width: 100%;
    min-height: 700px;
    background-image: url(../images/Spain-top.png);
}
.spain-top__box {
    max-width: 870px;
    width: 100%;
    min-height: 700px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 5rem;
}
.spain-top__text {
    max-width: 543px;
    width: 100%;
    height: 374px;
    background-color: #232323;
    opacity: 0,5;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
}
.spain-top__h {
    max-width: 80px;
    width: 100%;
    min-height: 26px;
    padding-bottom: 2rem;
}
.spain-top__h2 {
    max-width: 241px;
    width: 100%;
    min-height: 26px;
}
.spain-top__text__p {
    max-width: 508px;
    width: 100%;
    min-height: 78px;
    padding-top: 2rem;
    padding-bottom: 2rem;
}