.spain-bottom {
    max-width: 1770px;
    width: 100%;
    min-height: 700px;
    background-image: url(../images/spain-bottom.png);
}
.spain-bottom__text {
    max-width: 543px;
    width: 100%;
    height: 374px;
    background-color: grey;
    flex-grow: 0;
    opacity: 0,5;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    justify-self: center;
    align-self: center;
}
.spain-bottom-text__p {
    max-width: 508px;
    width: 100%;
    min-height: 78px;
}