.tourist-say {
    max-width: 1770px;
    width: 100%;
    min-height: 731px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-image: url(../images/tourist-say-backdrop.png);
}
.tourist-say__head {
    max-width: 390px;
    width: 100%;
    min-height: 26px;
    align-self: center;
}
.tourist-say__content {
    max-width: 1110px;
    width: 100%;
    min-height: 287px;
    display: flex;
    align-self: center;
}
.content__image {
    max-width: 445px;
    width: 100%;
    min-height: 284px;
}
.content__text {
    max-width: 668px;
    width: 100%;
    min-height: 287px;
    background-color: #333333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
}
.content__text__p {
    max-width: 581px;
    width: 100%;
    min-height: 165px;
}
.content__text__h {
    max-width: 150px;
    width: 100%;
    height: 26px;
}