.tourist-say {
    max-width: 1770px;
    width: 100%;
    min-height: 731px;
    background-image: url(../images/tourist-say-backdrop.png);
}
.tourist-say__head {
    max-width: 390px;
    width: 100%;
    min-height: 26px;
}
.tourist-say__content {
    max-width: 1110px;
    width: 100%;
    min-height: 287px;
}
.content__image {
    max-width: 445px;
    width: 100%;
    min-height: 284px;
}
.content__text {
    max-width: 668px;
    width: 100%;
    min-height: 287px;
}